<script id="ajaxTemp" type="text/x-kendo-template">
    <div class="box">
        <form>
            <input name="id" type="hidden" value="006">
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>姓名：</label>
                <div class="col-lg-6">
                    <input class="k-textbox w-100" name="realName" type="text" placeholder="文本框" required data-required-msg="请输入姓名！" pattern="[\u4E00-\u9FA5]{2,10}" validationMessage="请输入2-10个汉字！" value="沙加">
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>昵称：</label>
                <div class="col-lg-6">
                    <input class="k-textbox w-100" name="nickName" type="text" placeholder="文本框" required data-required-msg="请输入昵称！" pattern="[A-Za-z0-9_\-\u4E00-\u9FA5]{2,20}" data-pattern-msg="请输入2-20个大小写字母、数字、下划线及汉字！">
                    <span class="theme-m ajax-loading"><span class="k-icon k-i-loading"></span>验证中……</span><span class="k-invalid-msg" data-for="nickName"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>密码：</label>
                <div class="col-lg-6">
                    <input class="k-textbox w-100" name="password" type="password" placeholder="密码框" required data-required-msg="请输入密码！" pattern="[A-Za-z0-9]{6,20}" validationMessage="请输入6-20个大小写字母及数字！" value="060606060606">
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>确认密码：</label>
                <div class="col-lg-6">
                    <input class="k-textbox w-100" name="confirmPassword" type="password" placeholder="密码框" required data-required-msg="请输入确认密码！" value="060606060606">
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>性别：</label>
                <div class="col-lg-6">
                    <input class="k-radio" id="sex1" name="sex" type="radio" value="1"><label class="k-radio-label" for="sex1">男</label>
                    <input class="k-radio" id="sex2" name="sex" type="radio" value="2" checked><label class="k-radio-label" for="sex2">女</label>
                    <span class="k-invalid-msg" data-for="sex"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>年龄：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="age" name="age" type="number" placeholder="数字框" required data-required-msg="请输入年龄！" min="1" max="100" step="1" data-min-msg="年龄最小1岁！" data-max-msg="年龄最大100岁！" value="60">
                    <span class="k-invalid-msg" data-for="age"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>身高：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="height" name="height" type="number" placeholder="小数单位数字框" required data-required-msg="请输入身高！" value="1.60">
                    <span class="k-invalid-msg" data-for="height"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>血型：</label>
                <div class="col-lg-6">
                    <select class="w-100" id="bloodType" name="bloodType" required data-required-msg="请选择血型！">
                        <option value="">单选下拉框</option>
                        <option value="1" selected>A 型</option>
                        <option value="2">B 型</option>
                        <option value="3">O 型</option>
                        <option value="4">AB 型</option>
                        <option value="5">其他</option>
                    </select>
                    <span class="k-invalid-msg" data-for="bloodType"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>生日：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="birthday" name="birthday" type="date" placeholder="日期框" required data-required-msg="请输入生日！" value="2006-06-06">
                    <span class="k-invalid-msg" data-for="birthday"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>配偶生日：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="mateBirthday" name="mateBirthday" type="date" placeholder="日期时间掩码框" required data-required-msg="请输入配偶生日！" value="2006-06-06">
                    <span class="k-invalid-msg" data-for="mateBirthday"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>银行卡：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="creditCard" name="creditCard" type="text" placeholder="掩码框" required data-required-msg="请输入银行卡！" pattern="[\d\s]{19}" validationMessage="请补足位数！" value="6225 0000 0000 0006">
                    <span class="k-invalid-msg" data-for="creditCard"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>资产：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="asset" name="asset" type="number" placeholder="金融数字框" required data-required-msg="请输入资产！" value="60000000">
                    <span class="k-invalid-msg" data-for="asset"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>籍贯：</label>
                <div class="col-lg-6">
                    <select class="w-100" id="province" name="province" required data-required-msg="请选择省份！">
                        <option value="210000"></option>
                    </select>
                    <span class="k-invalid-msg" data-for="province"></span>
                    <select class="w-100 mt-2" id="city" name="city" required data-required-msg="请选择城市！">
                        <option value="210100"></option>
                    </select>
                    <span class="k-invalid-msg" data-for="city"></span>
                    <select class="w-100 mt-2" id="area" name="area">
                        <option value="210102"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>居住地：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="domicile" name="domicile" type="text" required data-required-msg="请选择居住地！" value="2101">
                    <span class="k-invalid-msg" data-for="domicile"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>民族：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="nation" name="nation" type="text" placeholder="输入下拉框" required data-required-msg="请输入民族！" value="景颇族">
                    <span class="k-invalid-msg" data-for="nation"></span><span class="k-invalid-msg" data-for="nation_input"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>语言：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="language" name="language" type="text" placeholder="自动完成框" required data-required-msg="请输入语言！" value="Chinese English French">
                    <span class="k-invalid-msg" data-for="language"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>教育程度：</label>
                <div class="col-lg-6">
                    <input class="k-checkbox" id="education1" name="education" type="checkbox" value="1" checked><label class="k-checkbox-label" for="education1">小学</label>
                    <input class="k-checkbox" id="education2" name="education" type="checkbox" value="2" checked><label class="k-checkbox-label" for="education2">初中</label>
                    <input class="k-checkbox" id="education3" name="education" type="checkbox" value="3" checked><label class="k-checkbox-label" for="education3">高中</label>
                    <input class="k-checkbox" id="education4" name="education" type="checkbox" value="4"><label class="k-checkbox-label" for="education4">中专</label>
                    <input class="k-checkbox" id="education5" name="education" type="checkbox" value="5"><label class="k-checkbox-label" for="education5">大专</label>
                    <input class="k-checkbox" id="education6" name="education" type="checkbox" value="6"><label class="k-checkbox-label" for="education6">本科</label>
                    <input class="k-checkbox" id="education7" name="education" type="checkbox" value="7"><label class="k-checkbox-label" for="education7">硕士</label>
                    <input class="k-checkbox" id="education8" name="education" type="checkbox" value="8"><label class="k-checkbox-label" for="education8">博士</label>
                    <input class="k-checkbox" id="education9" name="education" type="checkbox" value="9"><label class="k-checkbox-label" for="education9">其他</label>
                    <span class="k-invalid-msg" data-for="education"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>毕业年份：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="graduation" name="graduation" placeholder="年份框" required data-required-msg="请输入毕业年份！" value="2006">
                    <span class="k-invalid-msg" data-for="graduation"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>参加工作年月：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="firstJob" name="firstJob" type="month" placeholder="月份框" required data-required-msg="请输入参加工作年月！" value="2006-06">
                    <span class="k-invalid-msg" data-for="firstJob"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>手机：</label>
                <div class="col-lg-6">
                    <input class="k-textbox w-100" name="telephone" type="tel" placeholder="手机框" required data-required-msg="请输入手机！" pattern="^1([38][0-9]|5[0-35-9]|7[0135-8]|4[579]|9[89]|66)[0-9]{8}$" validationMessage="手机格式不正确！" value="13800138666">
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>电子邮件：</label>
                <div class="col-lg-6">
                    <input class="k-textbox w-100" name="email" type="email" placeholder="电子邮件框" required data-required-msg="请输入电子邮件！" data-email-msg="电子邮件格式不正确！" value="060606@060606.com">
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>个人主页：</label>
                <div class="col-lg-6">
                    <input class="k-textbox w-100" name="homepage" type="url" placeholder="网址框" required data-required-msg="请输入个人主页！" data-url-msg="网址格式不正确！" value="http://www.060606.com">
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>起床时间：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="getUp" name="getUp" type="time" placeholder="时间框" required data-required-msg="请输入起床时间！" value="06:06">
                    <span class="k-invalid-msg" data-for="getUp"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>最有意义的时刻：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="importantMoment" name="importantMoment" type="datetime" placeholder="日期时间框" required data-required-msg="请输入最有意义的时刻！" value="2006-06-06 06:06">
                    <span class="k-invalid-msg" data-for="importantMoment"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>性格：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="character" name="character" type="range" required data-required-msg="请选择性格！" value="10">
                    <span class="k-invalid-msg" data-for="character"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>颜色喜好：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="color" name="color" type="color" required data-required-msg="请选择颜色喜好！" value="rgba(208, 234, 124, 1)">
                    <span class="k-invalid-msg" data-for="color"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>感兴趣的星座：</label>
                <div class="col-lg-6">
                    <select class="w-100" id="constellation" name="constellation" multiple required data-required-msg="请选择感兴趣的星座！">
                        <option value="1">白羊座</option>
                        <option value="2">金牛座</option>
                        <option value="3">双子座</option>
                        <option value="4">巨蟹座</option>
                        <option value="5">狮子座</option>
                        <option value="6" selected>处女座</option>
                        <option value="7" selected>天秤座</option>
                        <option value="8" selected>天蝎座</option>
                        <option value="9">射手座</option>
                        <option value="10">山羊座</option>
                        <option value="11">水瓶座</option>
                        <option value="12">双鱼座</option>
                    </select>
                    <span class="k-invalid-msg" data-for="constellation"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>自我介绍：</label>
                <div class="col-lg-6">
                    <textarea class="k-textarea w-100" name="summary" placeholder="文本域框" required data-required-msg="请输入自我介绍！">我叫沙加！这里是我的自我介绍哦~</textarea>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>头像：</label>
                <div class="col-lg-6">
                    <img class="img-thumbnail w-20 mb-2" src="img/temp/Virgo.png" alt="沙加">
                    <input class="w-100" id="photo" name="photo" type="file">
                    <input name="photoUrl" type="hidden" value="img/temp/Virgo.png">
                    <span class="k-invalid-msg" data-for="photo"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label text-lg-right col-lg-2"><strong class="k-required">*</strong>签名：</label>
                <div class="col-lg-6">
                    <textarea class="w-100" id="sign" name="sign" required data-required-msg="请输入签名！">&lt;strong&gt;&lt;span style='color: rgb(0, 0, 0); background-color: rgb(208, 234, 124);'&gt;我叫沙加！这里是我的自我介绍哦~&lt;/span&gt;&lt;/strong&gt;</textarea>
                    <span class="k-invalid-msg" data-for="sign"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center" tabindex="-1">
                <label class="col-form-label col-lg-2 d-none d-lg-block">&nbsp;</label>
                <div class="col-lg-6">
                    <input id="agree" name="agree" type="checkbox" required validationMessage="必须同意条款才能提交！"><label for="agree">我同意</label>
                    <span class="k-invalid-msg" data-for="agree"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center">
                <label class="col-form-label col-lg-2 d-none d-lg-block">&nbsp;</label>
                <div class="col-lg-6 text-center text-lg-left">
                    <button id="submitBtn" class="k-button k-button-lg k-state-selected mr-4" type="button">提 交</button>
                    <button class="k-button k-button-lg" type="reset">重 置</button>
                </div>
            </div>
        </form>
    </div>
</script>