<script id="cascadeTemp" type="text/x-kendo-template">
    <div class="box mb-0">
        <form>
            <div class="form-group row justify-content-lg-center">
                <label class="col-form-label text-lg-right col-lg-2">省市县乡村五级联动：</label>
                <div class="col-lg-6">
                    <select class="w-100" id="province" name="province"></select>
                    <select class="w-100 mt-2" id="city" name="city"></select>
                    <select class="w-100 mt-2" id="area" name="area"></select>
                    <select class="w-100 mt-2" id="street" name="street"></select>
                    <select class="w-100 mt-2" id="village" name="village"></select>
                </div>
            </div>
        </form>
    </div>
</script>