<script id="cascadeTemp" type="text/x-kendo-template">
    <div class="box mb-0">
        <form>
            <div class="form-group row justify-content-lg-center">
                <label class="col-form-label text-lg-right col-lg-2">自动完成框分组：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="autoCompleteGroup" name="autoCompleteGroup">
                </div>
            </div>
            <div class="form-group row justify-content-lg-center">
                <label class="col-form-label text-lg-right col-lg-2">单选下拉框分组：</label>
                <div class="col-lg-6">
                    <select class="w-100" id="dropDownListGroup" name="dropDownListGroup"></select>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center">
                <label class="col-form-label text-lg-right col-lg-2">输入下拉框分组：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="comboBoxGroup" name="comboBoxGroup">
                </div>
            </div>
            <div class="form-group row justify-content-lg-center">
                <label class="col-form-label text-lg-right col-lg-2">多选下拉框分组：</label>
                <div class="col-lg-6">
                    <select class="w-100" id="multiSelectGroup" name="multiSelectGroup" multiple></select>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center">
                <label class="col-form-label text-lg-right col-lg-2">树形下拉框多选：</label>
                <div class="col-lg-6">
                    <input class="w-100" id="dropDownTreeMulti" name="dropDownTreeMulti">
                </div>
            </div>
            <div class="form-group row justify-content-lg-center">
                <label class="col-form-label text-lg-right col-lg-2">省市县乡村五级联动：</label>
                <div class="col-lg-6">
                    <select class="w-100" id="province" name="province"></select>
                    <select class="w-100 mt-2" id="city" name="city"></select>
                    <select class="w-100 mt-2" id="area" name="area"></select>
                    <select class="w-100 mt-2" id="street" name="street"></select>
                    <select class="w-100 mt-2" id="village" name="village"></select>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center">
                <label class="col-form-label text-lg-right col-lg-2">省市区三级联动：</label>
                <div class="col-lg-6">
                    <span class="d-block"><input class="w-100" id="province2" name="province2"></span>
                    <span class="d-block mt-2"><input class="w-100" id="city2" name="city2"></span>
                    <span class="d-block mt-2"><input class="w-100" id="area2" name="area2"></span>
                </div>
            </div>
            <div class="form-group row justify-content-lg-center">
                <label class="col-form-label text-lg-right col-lg-2">地图选择：</label>
                <div class="col-lg-6">
                    <span class="k-textbox k-space-right w-100"><input id="textBoxMap" name="textBoxMap" type="text" placeholder="-= 请点击右侧按钮打开地图 =-"><a class="k-icon k-i-globe-outline" id="textBoxMapBtn" href="javascript:;"></a></span>
                </div>
            </div>
        </form>
    </div>
    <style scoped>
        .k-window {
            z-index: 10001 !important;
        }
        .k-tooltip-content {
            white-space: nowrap;
        }
    </style>
</script>