<script id="form_rangeTemp" type="text/x-kendo-template">
    <div class="card mb-3 mb-lg-0">
        <div class="card-body">
            <form>
                <div class="form-group row justify-content-lg-center">
                    <label class="col-form-label text-lg-right col-lg-2">数字范围：</label>
                    <div class="col-lg-6">
                        <span class="d-block"><input class="w-100" id="ageStart" name="ageStart" type="number" placeholder="起始数字"></span>
                        <span class="d-block mt-2"><input class="w-100" id="ageEnd" name="ageEnd" type="number" placeholder="结束数字"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-lg-center">
                    <label class="col-form-label text-lg-right col-lg-2">小数单位数字范围：</label>
                    <div class="col-lg-6">
                        <span class="d-block"><input class="w-100" id="heightStart" name="heightStart" type="number" placeholder="起始小数单位数字"></span>
                        <span class="d-block mt-2"><input class="w-100" id="heightEnd" name="heightEnd" type="number" placeholder="结束小数单位数字"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-lg-center">
                    <label class="col-form-label text-lg-right col-lg-2">金融数字范围：</label>
                    <div class="col-lg-6">
                        <span class="d-block"><input class="w-100" id="assetStart" name="assetStart" type="number" placeholder="起始金融数字"></span>
                        <span class="d-block mt-2"><input class="w-100" id="assetEnd" name="assetEnd" type="number" placeholder="结束金融数字"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-lg-center">
                    <label class="col-form-label text-lg-right col-lg-2">日期范围：</label>
                    <div class="col-lg-6">
                        <span class="d-block"><input class="w-100" id="birthdayStart" name="birthdayStart" type="date" placeholder="起始日期"></span>
                        <span class="d-block mt-2"><input class="w-100" id="birthdayEnd" name="birthdayEnd" type="date" placeholder="结束日期"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-lg-center">
                    <label class="col-form-label text-lg-right col-lg-2">日期时间掩码范围：</label>
                    <div class="col-lg-6">
                        <span class="d-block"><input class="w-100" id="mateBirthdayStart" name="mateBirthdayStart" type="date" placeholder="起始日期时间掩码"></span>
                        <span class="d-block mt-2"><input class="w-100" id="mateBirthdayEnd" name="mateBirthdayEnd" type="date" placeholder="结束日期时间掩码"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-lg-center">
                    <label class="col-form-label text-lg-right col-lg-2">年份范围：</label>
                    <div class="col-lg-6">
                        <span class="d-block"><input class="w-100" id="graduationStart" name="graduationStart" placeholder="起始年份"></span>
                        <span class="d-block mt-2"><input class="w-100" id="graduationEnd" name="graduationEnd" placeholder="结束年份"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-lg-center">
                    <label class="col-form-label text-lg-right col-lg-2">月份范围：</label>
                    <div class="col-lg-6">
                        <span class="d-block"><input class="w-100" id="firstJobStart" name="firstJobStart" type="month" placeholder="起始月份"></span>
                        <span class="d-block mt-2"><input class="w-100" id="firstJobEnd" name="firstJobEnd" type="month" placeholder="结束月份"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-lg-center">
                    <label class="col-form-label text-lg-right col-lg-2">时间范围：</label>
                    <div class="col-lg-6">
                        <span class="d-block"><input class="w-100" id="getUpStart" name="getUpStart" type="time" placeholder="起始时间"></span>
                        <span class="d-block mt-2"><input class="w-100" id="getUpEnd" name="getUpEnd" type="time" placeholder="结束时间"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-lg-center">
                    <label class="col-form-label text-lg-right col-lg-2">日期时间范围：</label>
                    <div class="col-lg-6">
                        <span class="d-block"><input class="w-100" id="importantMomentStart" name="importantMomentStart" type="datetime" placeholder="起始日期时间"></span>
                        <span class="d-block mt-2"><input class="w-100" id="importantMomentEnd" name="importantMomentEnd" type="datetime" placeholder="结束日期时间"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>